@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo+Narrow:wght@400;500&family=Fredoka+One&display=swap');

.swiper-button-prev {
	color: white;
}

.swiper-button-next {
	color: white;
}
.container {
	text-align: center;
	width: 100%;
	height: 25vh;
	padding-bottom: 15px;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	z-index: 1;
	background: #fff;
	border-radius: 10px;
	border: 0.1px inset white;
	flex-direction: column;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	transition: transform 0.2s;
}

.swiper-slide:hover {
	transform: scale(1.2);
	transition: 0.4s;
	z-index: 1000;
}

.image {
	border-radius: 10px;
	width: 100% !important;
	height: 100% !important;
}

h6 {
	font-family: 'Otomanopee One', sans-serif;
	color: white;
	position: absolute;
	bottom: 10px;
	text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}
h2 {
	font-family: 'Fredoka One', cursive;
	text-align: center;
	margin-bottom: 10px;
	color: white;
}
.carousels {
	padding: 20px 0 10px 0;
}

.single_carousel {
	margin-bottom: 20px;
	height: 25vh;
	cursor: pointer;
}
.single_carousel:hover {
	overflow: visible !important;
}

.background-black {
	background-color: #141414;
}
